* {
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}

html {
  font-family: "Share Tech Mono", monospace;
  min-height: 100vh;
}

body {
  background-image: linear-gradient(#ed3142, #721b4c, #5a3142);
}

section {
  padding: 64px;
}

@media only all and (max-width: 800px) {
  section {
    padding: 8px;
  }
}

h2 {
  color: #10cfc8;
  font-size: 46px;
  text-align: center;
}

h4 {
  color: #fff;
  font-size: 20px;
}

p {
  font-size: 20px;
}

a {
  color: #fff;
}

#hero-image {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

@media only all and (max-width: 800px) {
  #hero-image {
    max-width: 90%;
    height: 70vh;
    object-fit: contain;
  }
}

#bottom-image {
  padding-top: 12.4rem;
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

#about-content {
  padding: 24px 0;
  margin: 0 auto;
  text-align: center;
  width: 750px;
}

@media only all and (max-width: 800px) {
  #about-content {
    padding: 12px 0;
    width: 90%;
  }
}

#spaceships {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

#chet-bubble {
  padding: 20px;
}

#contact-form {
  width: 750px;
  margin: 0 auto;
}

@media only all and (max-width: 800px) {
  #contact-form {
    width: 90%;
  }
}

#action-section {
  margin: 0 auto;
  text-align: center;
  padding: 24px 0;
  line-height: 80px;
}

#logo-badge {
  position: fixed;
  top: 40%;
  left: 0;
  cursor: pointer;
  z-index: 1;
}

#logo-badge img {
  height: 100px;
}

@media only all and (max-width: 800px) {
  #logo-badge img {
    height: 80px;
  }
}

.button {
  padding: 16px 32px;
  margin: 32px;
  border: 6px solid #ed3141c7;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  white-space: nowrap;
}

@media only all and (max-width: 800px) {
  .button {
    padding: 8px;
  }
}

.button:hover {
  border: 6px solid #ed3142;
}

.button.primary {
  background-color: #ed3141c7;
}

.button.primary:hover {
  background-color: #ed3142;
}

.spaceship {
  position: fixed;
  background-image: url("images/spaceship.png");
  background-repeat: no-repeat;
  background-size: contain;
  user-select: none;
  z-index: -1000;
  pointer-events: none;
  width: 100px;
  height: 300px;
}

.collapsible {
  margin: 16px auto 0 auto;
  background-color: #ed3141c7;
  cursor: pointer;
  padding: 32px;
  width: 750px;
  border: none;
  text-align: center;
  outline: none;
  display: block;
}

@media only all and (max-width: 800px) {
  .collapsible {
    padding: 8px;
    width: 90%;
  }
}

.active,
.collapsible:hover {
  background-color: #ed3142;
}

.content {
  margin: 0 auto 16px auto;
  padding: 0 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 750px;
  border: 6px solid #ed3141c7;
  text-align: center;
  color: #10cfc8;
  box-sizing: border-box;
}

@media only all and (max-width: 800px) {
  .content {
    width: 90%;
  }
}
