body {
  background-image: linear-gradient(#ed3142, #721b4c, #5a3142);
  min-height: 100vh;
  font-family: "Share Tech Mono", monospace;
}

section {
  padding: 64px;
}

h2 {
  color: #10cfc8;
  font-size: 64px;
  text-align: center;
}

h4 {
  color: #fff;
  font-size: 24px;
}

p {
  font-size: 20px;
}

a {
  color: #fff;
}

#hero-image {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

#bottom-image {
  padding-top: 124px;
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

#about-content {
  padding: 24px 124px;
  text-align: center;
}

#spaceships {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

#chet-bubble {
  padding: 204px;
}

#contact-form {
  width: 750px;
  margin: 0 auto;
}

#action-section {
  margin: 0 auto;
  text-align: center;
  padding: 24px 0;
}

.button {
  padding: 16px 32px;
  margin: 32px;
  border: 6px solid #ed3141c7;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}

.button:hover {
  border: 6px solid #ed3142;
}

.button.primary {
  background-color: #ed3141c7;
}

.button.primary:hover {
  background-color: #ed3142;
}

.spaceship {
  position: fixed;
  background-image: url("images/spaceship.png");
  background-repeat: no-repeat;
  background-size: contain;
  user-select: none;
  z-index: -1000;
  pointer-events: none;
  width: 100px;
  height: 300px;
}

.collapsible {
  margin: 16px auto 0 auto;
  background-color: #ed3141c7;
  cursor: pointer;
  padding: 32px;
  width: 750px;
  border: none;
  text-align: center;
  outline: none;
  display: block;
  font-family: "Share Tech Mono", monospace;
}

.active,
.collapsible:hover {
  background-color: #ed3142;
}

.content {
  margin: 0 auto 16px auto;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 738px;
  border-style: solid;
  border-width: 6px;
  border-color: #ed3141c7;
  text-align: center;
  color: #10cfc8;
}
