body {
  background-image: linear-gradient(#ed3142, #721b4c, #5a3142);
  font-family: "Share Tech Mono", monospace;
}

section {
  padding: 64px;
}

h2 {
  color: #10cfc8;
  font-size: 64px;
  text-align: center;
}

p {
  font-size: 20px;
}

#hero-image {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

#bottom-image {
  padding-top: 124px;
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

#spaceships {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.spaceship {
  position: fixed;
  background-image: url("images/spaceship.png");
  background-repeat: no-repeat;
  background-size: contain;
  user-select: none;
  z-index: -1000;
  pointer-events: none;
  width: 100px;
  height: 300px;
}

.collapsible {
  margin: 16px auto 0 auto;
  background-color: #ed3141c7;
  color: #fff;
  cursor: pointer;
  padding: 32px;
  width: 512px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 24px;
  display: block;
  font-family: "Share Tech Mono", monospace;
}

.active,
.collapsible:hover {
  background-color: #ed3142;
}

.content {
  margin: 0 auto 16px auto;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 500px;
  border-style: solid;
  border-width: 6px;
  border-color: #ed3141c7;
  text-align: center;
  color: #10cfc8;
}
